body {
  padding: 0 0 60px;
  font-family: sans-serif;
}

.navbar.editing {
  background-color: #00f;
}

.search article {
  margin-bottom: 2em;
}

.traitFilter table {
  margin-top: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
}

.graphiql-container {
  min-height: 800px;
}